body {
  /* change my background and set global font family with backup fonts*/
  font-family: sans-serif, arial, Helvetica;
  background-color: black;
}

.content-wrapper {
  /* page center along with taking up 60% of the whole page */
  width: 60%;
  margin: auto;
  
  background-color: lightgrey;
}

header h1 {
  /* make bigger, change font color, background color, more top padding than bottom */
  padding-top: 70px;
  padding-bottom: 20px;
  
  background: white;
  color: purple;
  font-size: 36pt;
  text-align: center;
}

.main-nav {
  /* change the background color, remove bullets, add border for each individual nav element, float the links, center our content within the links, width on links, font color */
  padding-top: 10px;
  padding-bottom: 10px;
  
  background-color: rebeccapurple;
  text-align: center;
}

ul a {
  text-decoration: none;
  color: white;
  padding: 0 45px 0 45px;
  
}

.right-border {
  border-right: 1px solid white;
}

.horizontal-list li {
  /* making list in nav bar go horizontal */
  display: inline;
}

aside {
  /* float left, change background color, take up on 25% of the container */
  float: left;
  width: 25%;
  padding: 20px 0 20px 0;
  
  background-color: mediumpurple;
}

aside img {
  /* center images, give them min and max height and width, spread them evenly */
  display: block;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  
  margin: auto;
  padding: 10px;
}

.main-article {
  /* float right, take up 75% of container, add padding to top, change background color */
  float: right;
  width: 75%;
}

.main-article img {
  /* take up 75% of main-article, have it centered */
  display: block;
  width: 75%;
  margin: auto;
  padding-top: 20px;
}

figcaption {
  /* center below image and add top padding */
  width: 75%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

footer {
  /* clear float and add padding to top and bottom, center aline, add links */
  clear: both;
  padding: 25px 0 25px 0;
  text-align: center;
  background-color: white;
}

footer a {
  /* add spaces between icons */
  padding: 0 50px 0 50px;
}



































