body {
  /* change my background and set global font family */
  font-family: sans-serif, arial, Helvetica;
  background-color: black;
}

.content-wrapper {
  width: 60%;
  margin: auto;
}

header h1 {
  /* make bigger, change color */
  padding-top: 70px;
  padding-bottom: 20px;
  
  background: white;
  color: purple;
  font-size: 36pt;
  text-align: center;
}

.main-nav {
  /* change the background color, remove bullets, add border for each individual nav element, float the links, center our content within the links, width on links, font color, font family */
  padding-top: 10px;
  padding-bottom: 10px;
  
  background-color: rebeccapurple;
  text-align: center;
}

ul a {
  text-decoration: none;
  color: white;
  padding: 0 45px 0 45px;
  
}

.horizontal-list li {
  display: inline;
}

aside {
  /* clear float, float left, background color */
  float: left;
  width: 25%;
  padding: 20px 0 20px 0;
  
  background-color: mediumpurple;
}

aside img {
  display: block;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  
  margin: auto;
  padding: 10px;
}

.main-article {
  float: right;
  width: 75%;
  padding: 20px 0 569px 0;
  background-color: lightgrey;
}

.main-article img {
  width: 75%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

figcaption {
  width: 75%;
  margin: auto;
  border: 1px solid black;
  padding: 10px 0 0 0;
  text-align: center;
}

footer {
  clear: both;
  padding: 20px;
  
  text-align: center;
  background-color: white;
}

footer a {
  padding: 5%;
}



































